
 == cool links ==

{{#each categories}}
    -- {{@key}} --
 ----------------------------------------------------------------------
{{#each this}}

{{#if @key}}    __{{@key}}__{{/if}}
{{#each this}}

h{{this.title}}	URL:{{this.link}}
{{#if this.description}}

{{this.description}}
{{/if}}
{{#each this.pros}}
+ {{this}}
{{/each}}
{{#each this.cons}}
- {{this}}
{{/each}}
{{/each}}
{{/each}}
{{/each}}
know a cool link? send it to cool.links@extropicstudios.com

bitcoin: 1AmE2RwtT5xGTmJfe5H3YnkgZwyphuaKWE
gpg: 0x7F3BBA79
generated on {{date}}
