<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>cool links</title>
  <link rel='stylesheet' href='style.css'>
</head>
<body>
  {{#each categories}}
  <article>
    <h1>{{@key}}</h1>

    <table>
    {{#each this}}
      {{#if @key}}
        <tr>
          <th colspan=2>{{@key}}</th>
        </tr>
      {{/if}}
      {{#each this}}
        <tr>
          <td>
            <a href='{{this.link}}'>{{this.title}}</a>
            {{#if this.gopher}}
              (<a href='{{this.gopher}}'>gopher</a>)
            {{/if}}
          </td>
          <td>
            {{#if this.description}}
              {{this.description}}
              {{#if this.pros}}
                <br>
              {{/if}}
              {{#each this.pros}}
                <br><span class='pro'>+</span> {{this}}
              {{/each}}
              {{#if this.cons}}
                <br>
              {{/if}}
              {{#each this.cons}}
                <br><span class='con'>-</span> {{this}}
              {{/each}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    {{/each}}
    </table>

  </article>
  {{/each}}

  <div>
    know a cool link? send it to <a href='mailto:cool.links@extropicstudios.com'>cool.links@extropicstudios.com</a>
  </div>

  {{> footer}}

</body>
