<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>tv shows</title>
  <link rel='stylesheet' href='style.css'>
</head>
<body>

  {{#each shows}}
  <table>
    <tr>
      <th colspan=3>{{this.title}}</th>
    </tr>
    {{#each this.seasons}}
    <tr>
      <th colspan=2>Season {{this.ordinal}}</th>
      <th></th>
    </tr>
    <tr>
      <th>Episode</th>
      <th>Name</th>
      <th>Seen</th>
    </tr>
    {{#each this.episodes}}
    <tr>
      <td>E{{this.ordinal}}</td>
      <td>{{this.title}}</td>
      {{#if this.watched}}
      <td class="watched">&#x2713;</td>
      {{else}}
      <td class="unwatched">&#x2717;</td>
      {{/if}}
    </tr>
    {{/each}}
    {{/each}}
  </table>
  {{/each}}

  {{> footer }}

</body>
