<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>extropic's gaming userpage</title>
  <link rel='stylesheet' href='gaming.css'>
</head>
<body>
  <table>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>System</th>
      <th class="icon">
        <img src='img/book.png' title="Storyline Completed">
      </th>
      <th class="icon">
        <img src='img/badge.png' title="Achievements Unlocked">
      </th>
      <th>Userpage</th>
      <th>Savegame</th>
    </tr>
    {{#each games}}
      <tr class="{{this.system}}">
        <td>
          {{#if this.link}}<a href="{{this.link}}">{{/if}}
            {{this.title}}
          {{#if this.link}}</a>{{/if}}
        </td>
        <td class="center">{{this.year}}</td>
        <td class="center">{{this.system}}</td>
        <td class="
        {{~#if this.completion.storyline~}}
          completed
        {{~else~}}
          uncompleted
        {{~/if~}}"></td>
        <td class="
        {{~#if this.has_achievements~}}
          {{~#if this.completion.achievements~}}
            completed
          {{~else~}}
            uncompleted
          {{~/if~}}
        {{~else~}}
          completion-na
        {{~/if~}}"></td>
        <td class="icon">
          {{~#if this.userpage~}}
            <a href="{{this.userpage}}.html"><img src="img/page.png"></a>
          {{~/if~}}
        </td>
        <td class="icon">
          {{~#if this.savegame~}}
            <a href="{{this.savegame}}"><img src="img/save.png"></a>
          {{~/if~}}
        </td>
      </tr>
    {{/each}}
  </table>

  {{> footer }}

</body>
