<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>books</title>
    <link rel='stylesheet' href='books.css'>
  </head>
  <body>

    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Read</th>
        <th>Series</th>
      </tr>
      {{#each books}}
        <tr>
          <td>
            {{~#if this.link~}}
              <a href="{{this.link}}">{{this.title}}</a>
            {{~else~}}
              {{this.title}}
            {{~/if~}}
          </td>
          <td>
            {{#each this.authors}}
              {{this~}}
              {{~#unless @last}},{{/unless}}
            {{/each}}
          </td>
          <td class='center'>{{this.displayYear}}</td>
          {{#if this.finished}}
            <td class="finished">&#x2713;</td>
          {{else}}
            <td class="unfinished">&#x2717;</td>
          {{/if}}
          <td>
            {{~#if this.series~}}
              {{~#each this.series~}}
                {{~@key}}{{#if this}}&nbsp;({{this}}){{/if~}}
                {{~#unless @last}}<br>{{/unless~}}
              {{~/each~}}
            {{~/if~}}
          </td>
        </tr>
      {{/each}}
    </table>

    <hr>

    <table>
      <tr>
        <th colspan=2>Statistics</th>
      </tr>
      <tr>
        <td>Oldest Book Read</td>
        <td>{{oldestBook.title}} ({{oldestBook.year}})</td>
      </tr>
      <tr>
        <td>Most Popular Year</td>
        <td>{{mostPopularYear}}</td>
      </tr>
      <tr>
        <td>Unique Authors</td>
        <td>{{uniqueAuthors}}</td>
      </tr>
      <tr>
        <td>Books Finished</td>
        <td>{{finished}}</td>
      </tr>
      <tr>
        <td>Books To Read</td>
        <td>{{unfinished}}</td>
      </tr>
    </table>

    {{> footer }}

  </body>
</html>
