<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>lines about nothing</title>
  <link rel='stylesheet' href='style.css'>
</head>
<body>

  <div id="line"></div>

  {{> footer }}

  <script>
    var lines = [
      {{#each lines}}
      "{{this.text}}",
      {{/each}}
    ];

    var next = function() {
      document.getElementById('line').innerHTML = lines[Math.floor(Math.random() * lines.length)];
    };

    next();
    setInterval(next, 5000);
  </script>
</body>
