<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>podcasts, tvshows, talks</title>
  <link rel='stylesheet' href='style.css'>
</head>
<body>
  {{#each serial}}
    <table>
      <tr><th colspan=3 class='header'>{{this.name}}</th></tr>
      <tr>
        <th>Name</th>
        <th>#</th>
        <th>Seen</th>
      </tr>
      {{#each this.seasons}}
        <tr><td colspan=3 class='subheader'>{{this.name}}</td></tr>
        {{#each this.episodes}}
          <tr>
            {{! Link }}
            {{#if this.link}}
            <td><a href="{{this.link}}">{{this.name}}</a></td>
            {{else}}
            <td>{{this.name}}</td>
            {{/if}}
            {{! Ordinal}}
            <td>{{this.ordinal}}</td>
            {{! Watched}}
            {{#if this.watched}}
            <td class="watched">&#x2713;</td>
            {{else}}
            <td class="unwatched">&#x2717;</td>
            {{/if}}
          </tr>
        {{/each}}
      {{/each}}
    </table>
  {{/each}}


  <hr>

  <table>
    <tr><th colspan=3 class='header'>Tech Talks</th></tr>
    <tr>
      <th>Name</th>
      <th>Speaker</th>
      <th>Seen</th>
    </tr>
    {{#each standalone}}
    <tr>
      <td>
        {{#if this.link}}
        <a href="{{this.link}}">{{this.name}}</a>
        {{else}}
        {{this.name}}
        {{/if}}
      </td>
      <td>{{this.speaker}}</td>
      {{#if this.watched}}
      <td class="watched">&#x2713;</td>
      {{else}}
      <td class="unwatched">&#x2717;</td>
      {{/if}}
    </tr>
    {{/each}}
  </table>

  {{> footer }}

</body>
