<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>movies</title>
  <link rel='stylesheet' href='style.css'>
</head>
<body>

  <table>
    <tr><th colspan=2>Statistics</th></tr>
    <tr>
      <td>Movies Seen</td>
      <td>{{watched}}</td>
    </tr>
    <tr>
      <td>Movies To Watch</td>
      <td>{{unwatched}}</td>
    </tr>
  </table>

  <hr>

  <table>
    <tr>
      <th>Name</th>
      <th>Director</th>
      <th>Year</th>
      <th>Seen</th>
      <th>Rating</th>
    </tr>
    {{#each movies}}
      <tr>
        <td>
          {{#if this.link}}
            <a href="{{this.link}}">{{this.name}}</a>
          {{else}}
            {{this.name}}
          {{/if}}
        </td>
        <td>{{this.director}}</td>
        <td class="center">{{this.year}}</td>
        {{#if this.watched}}
        <td class="watched">&#x2713;</td>
        {{else}}
        <td class="unwatched">&#x2717;</td>
        {{/if}}
        <td class="rating-{{this.rating}}">{{this.rating}}</td>
      </tr>
    {{/each}}
  </table>

  {{> footer }}

</body>
